.aside {
	grid-area: aside;
	position: fixed;
	top: 7em;

	display: flex;
	width: 16%;
	justify-content: center;
}

h1 {
	font-family: var(--personalName_font);
	font-size: var(--personalName-small_size);
}

nav > ul {
	font-family: var(--aside_font);

}

li a {
	text-decoration: none;
}

li a:hover,
nav p:hover {
	color: #1FA2FF;
}

nav p,
li a {
	color: #332F2F;
	cursor:pointer;
	transition-duration: 0.5s;
}

nav li {
	line-height: 2em;
}

.albums .hidden {
	display: none;
}

.albums li {
	margin-left: 1em;
}

.socialmedia-links {
	position: fixed;
	bottom: 1.5em;
	width: 15%;

	display: flex;
	justify-content: center;

}

.socialmedia-links .svg-images {
	width: 23px;
	height: 23px;
	margin: 0 10%;
	cursor: pointer;

}

.socialmedia-links #instagram-icon {
	background: url('../../assets/icon-instagram.svg');
}

.socialmedia-links #instagram-icon:hover {
	background: url('../../assets/instagram-colorful.svg');
}

.socialmedia-links #whatsapp-icon {
	background: url('../../assets/icon-whatsapp.svg');

}

.socialmedia-links #whatsapp-icon:hover {
	background: url('../../assets/whatsapp-colorful.svg');
}

.divisory {
	position: fixed;
	top: 6em; left: calc(var(--width) - 83.5%);

	width: 2px;
	height: calc(var(--height) - 8em);

	background: #8D8282;
}

@media screen and (max-width: 600px) {
	.aside {
		position: absolute;
		top: 0; left: 0;
	}

	nav,
	.socialmedia-links,
	.divisory {
		display: none;
	}

	.menu-toggle {
		width: 35px;
		height: 40px;

		margin: 0.5em;
		cursor: pointer;
	}

	.one,
	.two,
	.three {
		width: 100%;
		height: 10%;
		background: black;
		margin: 16% auto;

		transition-duration: 0.3s;
	}


	.aside.on {
		justify-content: flex-start;

		width: 100vw;
		height: 100vh;
		background: var(--bg_color);
	}

	.aside.on .menu-toggle {
		position: absolute;
	}

		.aside.on .one {
		transform: rotate(45deg) translate(6px, 6px);
	}

	.aside.on .two {
		opacity: 0;
	}

	.aside.on .three {
		transform: rotate(-45deg) translate(7px, -7px);
	}

	.aside.on nav {
		width: 100%;
		height: 100%;
	
		display: flex;
		flex-direction: column;

		transition-duration: 2s;
}

	.aside.on nav h1 {
		margin: 1.5em 0 0 2em;
		font-size: var(--personalName-big_size);
	}

	.aside.on nav > ul {
		margin-left: 5.5em;
	}

	.aside.on ul li {
		margin-left: 1em;
		font-size: var(--aside-text_big-size);
	}


	.aside.on .socialmedia-links {
		display: flex;
		align-items: center;
		width: 100%;
		height: 10%;
	}

	.aside.on .socialmedia-links .svg-images{
		width: 40px;
		height: 40px;
	}

	.socialmedia-links #whatsapp-icon {
		background: url('../../assets/whatsapp-colorful.svg');
	}
		
	.socialmedia-links #instagram-icon {
		background: url('../../assets/instagram-colorful.svg');
	}

}

@media screen and (min-width: 601px) and (max-width: 849px) {

	nav {
		text-align: center;
	}
}

@media screen and (min-width: 850px) {
	nav > ul {
		font-size: var(--aside-text_small-size);
	}

	.socialmedia-links .svg-images {
		width: 30px;
		height: 30px;
	}	

}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: var(--personalName-medium_size);
	}

	nav > ul {
		font-size: var(--aside-text_big-size);
	}

	.socialmedia-links .svg-images {
		width: 40px;
		height: 40px;
	}

}

@media screen and (min-width: 1700px) {
	h1 {
		font-size: var(--personalName-big_size);
	}
}
