.container {
	align-self: center;
	justify-self: center;
}

.photo-card {
	max-width:100%;
	border-radius: 5px;
}

.photo-card img {
	max-width: 100%;
	object-fit: scale-down;
	border-radius: 10px;
	cursor: pointer;
}

.photo-metadata {
	display: flex;
	justify-content: space-between;

	margin: 0.5em 0.2em;
}

.photo-card .description {
	font-family: "Ubuntu";
	font-size: 1.4em;
	margin-top: 0.5em;
	transition-duration: 0.5s;
}

.photo-card .description:hover {
	cursor: pointer;
	color: #19E4F1;
}

.photo-metadata .date {
	font-family: "Ropa Sans";
}

.photo-metadata .location {
	font-family: "Ropa Sans";
}
