.container {
	align-self: center;
	justify-self: center;
}

.photoCard {
	border-radius: 5px;
}

.photoCard img {
	max-width: 100%;
	object-fit: scale-down;
	border-radius: 10px;
}

.photoMetadata {
	display: flex;
	justify-content: space-between;

	margin: 0.5rem 0.2rem;
}

.photoCard .description {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 1.4rem;
	margin-top: 0.5rem;
	transition-duration: 0.5s;
}

.photoMetadata .date {
	font-family: "Ropa Sans";
}

.photoMetadata .location {
	font-family: "Ropa Sans";
}

@media only screen and (max-width: 600px) {
	.container {
		margin: 1em 2em;
	}
}