.container {
	margin: 1rem 3rem;
}

.container h2 {
	text-align: center;
	font-size: 2.2rem;
}


.container h2:first-letter {
	text-transform: uppercase;
}

.divisory {
	width: 100%;
	height: 0.2rem;
	background: #443F3F;
	margin: 1rem 0;
}

.photoEditor {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;

	height: 100%;
}

.cardContainer {
	justify-self: center;
	align-self: center;

	width: 15rem;
}

.card > img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	border-radius: 0.5rem;
	cursor: pointer;
}

.card > p:hover {
	cursor: pointer;
}

.card > .editDescription {
	color: #000;
	background: white;
	width: 100%;

	border: 0;
	outline: 0;
	border-radius: 0.3rem;
}

.card .icons {
	display: flex;
	gap: 1rem;
}

.card .icons .icon {
	margin: 0.5rem 0;
	width: 1.5rem;
	height: 1.5rem;
	transition-duration: 0.3s;
}

.card .icons .icon:hover {
	background: var(--neon_color);
	border-radius : 0.5rem;
	padding: 0.2rem;
	cursor: pointer;
}

.card .description {
	text-align: justify;
	font-size: 1rem;
}

.card .place {
	display: block;
	text-align: right;
	color: var(--neon_color);
	font-size: 0.9rem;
}

.card .editPlace {
	display: flex;
	align-items: center;
}
.card .editPlace > input {
	width: 100%;
	height: 2rem;
	margin-right: 0.5rem;

	color: #000;

}

.card .features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}

.card .features img {
	width: 1.5rem;
	height: 1.5rem;
}

.sucessMessage {
	margin-left: 0.5rem;
	color: #30bf26;
}

.errorMessage {
	margin-left: 0.5rem;
	color: red;
}
