@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&family=Ropa+Sans&family=Sawarabi+Mincho&display=swap');

:root {
	/*FONTS*/
	--email_font: "Ropa Sans";
	--aside_font: "Sawarabi Mincho";
	--personalName_font: "Rokkitt";

	/*COLORS*/
	--bg_color: #EBE2E2;

	/*SIZES*/
	--email-text_size: 20px;
	--aside-text_size: 22px;
	--personalName-text_size: 40px;

	--title-photocard_size: 20px;

	--width: 100%;
	--height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.svg-images {
	width: 40px;
	height: 40px;
}

body {
	width: 100%;
	background: var(--bg_color);
}

#root {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas:
		".     header"
		"aside	main";

	width: 100%;
	height: 100%;
}

.divisory {
	position: fixed;
	left: 19em;
	top: 6em;

	width: 2px;
	height: calc(var(--height) - 8em);
	background: #8D8282;
}
