.aboutMe {
	grid-area: main;
}

.aboutImg {
	width: 100%;
	height: 100vh;

	background-image: url('../../assets/about-me.jpg');
	background-size: cover;
}

.aboutImgBox {
	padding: 10rem 0 0 5rem;
}

.welcome p {
	font-family: var(--personalName_font);
	font-size: 3rem;
}

.colorNeon {
	color: #19E4F1;
}

.aboutImgBox .description p{
	font-family: var(--personalName_font);
	font-size: 2rem;
	margin: 2rem 0 0 1rem;
}