.emailBar {
	grid-area: header;
	width: 100%;
	background: var(--bg_color);
}

.emailBar > .content {
	display: flex;
	align-items: center;
}

.emailSvg {
		width: 40px;
		height: 40px;
		filter: brightness(0) saturate(100%) invert(87%) sepia(40%) saturate(3586%) hue-rotate(137deg) brightness(97%) contrast(96%);
	}

#email {
	font-family: var(--email_font);
	margin-left: 0.6rem;
}

#line {
		height: 2px;
		background: white;
	}
	
@media screen and (max-width: 600px) {
	.emailBar > .content {
		margin: 2% 0 1% 1%;
	}

	#email {
		font-size: var(--email-text_small-size);
	}

	#line {
		width: calc(var(--width) - 30%);
	}
}

@media screen and (min-width: 600px) {
	.emailBar {
		position: fixed;
		left: calc(var(--width) - 83.4%);
	}

	.emailBar .content {
		padding: 2% 0 0.5% 5%;
	}

	#email {
		font-size: var(--email-text_big-size);
	}

	#line {
		width: calc(var(--width) - 25%);
		margin-left: 2rem;
	}
}

@media screen and (min-width: 900px) {
	.emailBar .content {
		padding: 2% 0 0.5% 3%;
	}
}