.photo-viewer {
	grid-area: main;
	margin-top: 10%;
}

.page-title {
	text-align: center;
}

h1 {
	display: inline-block;
	font-family: var(--personalName_font);	color: white;
	
	padding: 0.2em;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}


@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.5em;
	}

	.photo-galery {
		display: flex;
		flex-direction: column;
		margin-top: 2em;

	}
}

@media screen and (min-width: 601px) {
	.photo-viewer {
		margin-top: 15%;
	}

	h1 {
		font-size: 3em;
	}

	.photo-galery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 3em 3em 0 3em;
	}

}

@media screen and (min-width: 1000px) {
	.photo-viewer {
		margin-top: 10%;
	}

	.photo-galery {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 3em;
	}
}
