.photoViewer {
	grid-area: main;
}

.pageTitle {
	text-align: center;
}

h1 {
	display: inline-block;
	font-family: var(--personalName_font);	color: white;
	
	padding: 0.2rem;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}


@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
		margin-top: 2rem;
	}

	.photoGalery {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 2em;

	}
}

@media screen and (min-width: 601px) {
	.photoViewer {
		margin-top: 15%;
	}

	h1 {
		font-size: 3rem;
	}

	.photoGalery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 3rem 3rem 0 3rem;
		grid-gap: 3rem;
	}

}

@media screen and (min-width: 1000px) {
	.photoViewer {
		margin-top: 10%;
	}

	.photoGalery {
		grid-template-columns: repeat(4, 1fr);
	}
}
