.about-me {
	grid-area: main;
}

.about-img {
	width: 100%;
	height: 100vh;

	background-image: url('../../assets/about-me.jpg');
	background-size: cover;
}

.about-img-box {
	padding: 10em 0 0 5em;
}

.welcome p {
	font-family: var(--personalName_font);
	font-size: 3em;
}

.color-neon {
	color: #19E4F1;
}

.about-img-box .description p{
	font-family: var(--personalName_font);
	font-size: 2em;

	margin: 2em 0 0 0.5em;
}