:root {
	/*FONTS*/
	--email_font: "Ropa Sans";
	--aside_font: "Sawarabi Mincho";
	--personalName_font: "Rokkitt";

	/*COLORS*/
	--bg_color: #16181C;
	--neon_color: #19E4F1;

	/*SIZES*/
	--email-text_big-size: 20px;
	--email-text_small-size: 15px;
	
	--aside-text_big-size: 22px;
	--aside-text_small-size: 18px;
	
	--personalName-big_size: 40px;
	--personalName-medium_size: 30px;
	--personalName-small_size: 23px;
	
	--title-photocard_size: 20px;

	--personalName_big-margin: 1em;
	--personalName_small-margin: 0.2em;

	--width: 100vw;
	--height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	color: white;
}

body {
	width: 100%;
	background: var(--bg_color);
}

#root {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-areas:
		".		 ."
		". main";

	width: 100%;
	height: 100%;
}

@media screen and (max-width: 600px) {
	#root {
	grid-template-rows: 1fr;
	grid-template-areas:
		"aside header"
		"main main";
	}
}
